---json
pagination:
{
 data: "youtubeapi",
  size: 2,
  alias: "youtubeapi"
}

---
<html>
    <body>
        <div>
            {% for video in youtubeapi %}
                <p>
                    <img src="{{ video.thumbnail }}" alt="{{ video.title }}" loading="lazy" />
                    {{ video.title }} - {{ video.url }}
                </p>
            {% endfor %}
        </div>
        <div>
    <ul>
        <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Prev</a>{% endif %}</li>
        {%- for pageEntry in pagination.pages %}
            <li><a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a></li>
        {%- endfor %}
        <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% endif %}</li>
    </ul>
</div>
    </body>
</html>